/*Inicio habilidades*/

.habilidades {
    background-image: var(--bg-gradient-habilidades);
    width: 100%;
    height: 1160px;
    margin-top: 0px;
    border: 2px solid var(--transparent-strokes);
    overflow: hidden;
}

.habilidades .circulo {
    width: 1px;
    height: 1px;
}

.habilidades .circulo-p1 {
    margin-left: 120px;
    margin-top: 200px;
    width: 200px;
}

.habilidades .circulo-p2 {
    margin-left: -100px;
    margin-top: -200px;
    width: 420px;
}

.inicio-apresentacao-habilidades {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.title-habilidades {
    margin-top: 100px;
}

.inicio-apresentacao-habilidades>h3 {
    color: var(--text-white);
    font-weight: 100;
    font-size: 24px;
}

.cards-habilidades {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-left: 50px;
    justify-content: center;
    align-self: center;
    height: 500px;
    max-width: 1350px;
    gap: 45px;
}

.cards-itens {
    position: relative;
    color: var(--text-white);
    width: 290px;
    height: 360px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 1.5px solid rgba(255, 255, 255, 0.22);
    box-shadow: rgb(0 0 0 / 50%) 0px 2px 5px;
    backdrop-filter: blur(15px);
}

.cards-itens:nth-child(2) {
    height: 390px;
    width: 300px;
}

.cards-itens:nth-child(2)>span {
    margin-left: 10px;
}

.cards-itens .svg-habilidades {
    width: 100px;
    height: 130px;
    margin-top: 55px;
}

.cards-itens .svg-habilidades:nth-child(2) {
    margin-top: 65px;
}

.cards-itens .svg-habilidades,
.cards-itens>h3 {
    width: 150px;
    margin-bottom: 8px;
    text-align: center;
    font-size: 1.2em;
    transform: translateY(50px);
    transition: 0.8s cubic-bezier(1, 0.92, 0.65, 1);
    letter-spacing: 2px;
}

.cards-itens:hover .svg-habilidades,
.cards-itens:hover h3 {
    width: 100px;
    font-size: 1em;
    transform: translateY(0px);
    transition: 0.5s ease-in;
    letter-spacing: 3px;
}

.cards-itens>span {
    font-size: 1.1em;
    opacity: 0;
    padding: 25px;
    transform: translateY(100px);
    transition: 0.5s ease-in;
    pointer-events: none;
    margin-bottom: 8px;
}

.cards-itens:hover>span {
    opacity: 1;
    transform: translateY(0px);
    transition: 0.5s ease-in;
    margin-top: -15px;
}

.mais-tecnologias {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    max-height: 1500px;
    width: 100%;
    height: 100%;
    border-left: 0.5px solid rgba(136, 136, 136, 0.419);
    border-bottom: 0.5px solid rgba(136, 136, 136, 0.419);
    box-shadow: 6px 6px 8px 1px rgba(0, 0, 0, 0.453);
    border-radius: 20px;
    margin-top: 30px;
}

.mais-tecnologias>h3 {
    color: var(--text-white);
    text-align: center;
    font-size: 25px;
    font-weight: 100;
    margin-top: 25px;
    margin-bottom: 35px;
}

.table-icons {
    border-spacing: 15px;
    padding: 1px;
}

.table-finished {
    margin-bottom: 15px;
}

.table-icons tr {
    display: flex;
    gap: 15px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.table-icons td {
    width: 80px;
    height: 80px;
    background-color: var(--text-white);
    border-radius: 10px;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.659);
    transition: .8s ease all;
    cursor: pointer;
}

.table-icons td:hover {
    transform: scale(1.2);
}

.table-icons img {
    margin-left: 5px;
    margin-top: 5px;
    width: 70px;
    cursor: pointer;
    transition: .5s ease all;
}

.table-icons span {
    font-size: 17px;
    display: flex;
    justify-content: center;
    width: 80px;
    color: var(--bg-mainDark);
    position: absolute;
    margin-top: 43%;
    transition: .8s ease all;
    opacity: 0;
    font-weight: 700;
    cursor: pointer;
}

.table-icons td:hover img.imgIcons {
    opacity: 0;
}

.table-icons td:hover span.text {
    opacity: 1;
}


/********************************************************/

@media screen and (max-width: 1023px) {
    .habilidades .circulo-p1 {
        margin-left: 10px;
        margin-top: 200px;
        width: 200px;
    }
    .cards-habilidades {
        padding-left: 20px;
        gap: 30px;
        width: 100%;
    }
    .cards-itens {
        height: min-content;
    }
    .cards-itens:nth-child(2) {
        height: min-content;
    }
    .cards-itens>span {
        font-size: 1em;
    }
}

@media screen and (max-width: 767px) {
    .habilidades .circulo-p1 {
        width: 300px;
        margin-left: -50px;
    }
    .habilidades .circulo-p2 {
        margin-top: -500px;
        margin-left: 40px;
        width: 520px;
    }
    .habilidades {
        height: 1800px;
    }
    .cards-habilidades {
        flex-direction: column;
        width: 90%;
        height: fit-content;
        gap: 50px;
        align-items: center;
        justify-content: center;
    }
    .cards-itens {
        width: 70%;
        height: 300px;
        margin-right: 20px;
    }
    .cards-itens:nth-child(2) {
        width: 70%;
        height: 300px;
    }
}

@media screen and (max-width: 640px) {
    .cards-itens {
        width: 90%;
        height: 395px;
        margin-right: 20px;
        font-size: 1.2em;
    }
    .cards-itens:nth-child(2) {
        width: 90%;
        height: 395px;
    }
    .habilidades {
        height: 2280px;
    }
    .mais-tecnologias {
        margin-top: -40px;
        height: fit-content;
    }
    .mais-tecnologias>h3 {
        color: var(--text-white);
        font-size: 1.4em;
        width: 100%;
        padding: 20px 40px;
    }
    .table-icons tr {
        width: 100%;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 320px) {
    .habilidades {
        height: 2500px;
    }
}