@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans:ital@0;1&display=swap');
 :root {
    --bg-glassEfect: linear-gradient( 106.51deg, rgba(255, 255, 255, 0.03) 3.44%, rgba(255, 255, 255, 0.012) 64.82%);
    --containerBackgroundGradient: linear-gradient(to right, #362792, #8E0265);
    --bg-gradient-habilidaes: linear-gradient(310deg, #d17614, #a7345c, #680630);
    --gradient-front-container: linear-gradient(135deg, black, rgb(48, 48, 48), rgb(95, 95, 95), rgb(97, 97, 97));
    --bg-mainDark: #12141A;
    --color-orange-ligth: #ef7739;
    --color-buttons-ligth: #08fffb;
    --transparent-strokes: rgba(255, 255, 255, 0.1);
    --text-white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Ropa Sans', sans-serif;
    cursor: context-menu;
}

body {
    background-color: var(--bg-mainDark);
}

.glass-effect {
    background: var(--bg-glassEfect);
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(25px);
}

.parallax {
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background-attachment: fixed;
}


/*Header e Navegação*/

header.header-top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    height: 90px;
    width: 100%;
    z-index: 2;
    border-bottom: 1px solid var(--transparent-strokes);
}

.logoheader {
    position: absolute;
    width: 230px;
    height: 155px;
    left: 150px;
    top: -30px;
}

.nav {
    width: 550px;
    line-height: 50px;
    margin-left: 170px;
    display: flex;
    gap: 100px;
}

.nav-item {
    display: flex;
    gap: 27px;
}

.nav-itens a {
    font-size: 1.48rem;
    color: var(--text-white);
}

.nav-itens a:hover {
    color: var(--color-buttons-ligth);
    border-bottom: 0.5px dotted var(--color-buttons-ligth);
    text-shadow: 2px 0px 10px var(--bg-mainDark);
}

button.nav-itens-button {
    background-image: url(../img/svg/btn1contato.svg);
    background-repeat: no-repeat;
    width: 130px;
    height: 36px;
    background-color: transparent;
    border: none;
    color: var(--text-white);
    font-size: 1.3rem;
    margin-left: 30px;
    margin-top: 7px;
    cursor: pointer;
}

button.nav-itens-button:hover {
    background-image: url(../img/svg/btn2contato.svg);
    color: var(--color-buttons-ligth);
    text-shadow: 2px 0px 10px var(--bg-mainDark);
}


/*CONTEÚDO*/

.conteudo-principal {
    background-color: var(--bg-mainDark);
}

.section-home {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1400px;
    width: 100%;
    height: 650px;
    border-top: 1px solid var(--color-orange-ligth);
    background-image: url(../img/jpg/bg-image-top.jpg);
}

.card-sec1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -150px;
    margin-right: 350px;
    width: 600px;
    height: 600px;
    z-index: 1;
}

.card-sec1-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.card-sec1-container-degrade-fundo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 580px;
    height: 320px;
    background-image: var(--containerBackgroundGradient);
    border-radius: 25px;
}

.card-sec1-container-degrade-frente {
    width: 572px;
    height: 312px;
    background-image: var(--gradient-front-container);
    border-radius: 25px;
    align-self: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-card-sec1 {
    color: var(--text-white);
    font-size: 37px;
    margin-top: 35px;
}

.subtitle-card-sec1 {
    color: var(--text-white);
    font-size: 28px;
    margin-top: 35px;
    width: 80%;
}

.buttons {
    display: flex;
    gap: 30px;
    margin-top: 40px;
    justify-content: center;
}

.btn {
    width: 173px;
    height: 38px;
    background-image: linear-gradient(to right, #8E0265, rgb(50, 0, 81));
    border: none;
    border-radius: 15px;
    color: var(--text-white);
    font-size: 19px;
    box-shadow: 2px 4px 8px #eb00a55f;
}

.btn:hover {
    background-image: linear-gradient(to right, #eb00a4, #7000b6);
    box-shadow: 2px 4px 8px #7000b66d;
    cursor: pointer;
    color: var(--color-buttons-ligth);
}


/*Inicio Sobre*/

.apresentacao {
    display: flex;
    justify-content: center;
    background-image: url(../img/png/pl4.png);
}

main .apresentacao .sobre-inicio {
    width: 80%;
    height: 1130px;
    margin-top: 50px;
    margin-bottom: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--transparent-strokes);
    border-radius: 55px;
    gap: 40px;
}

.title {
    margin-top: 60px;
    color: var(--text-white);
    font-size: 32px;
    font-weight: 500;
    font-style: italic;
    border-bottom: 5px dotted var(--color-orange-ligth);
}

.title2 {
    color: var(--text-white);
    font-size: 35px;
    margin-top: -10px;
}

.ficha-tecnica {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.ficha-tecnica .ficha-tecnica-texto {
    color: var(--text-white);
    font-size: 25px;
    margin: -30px 20%;
    position: absolute;
}

.ficha-tecnica-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 540px;
    height: 350px;
    gap: 5px;
    background-image: linear-gradient(to left, #ff00c877, #6b028e);
    border-radius: 20px;
    border-right: 1px solid #ffffff54;
    border-left: 1px solid #ffffff54;
}

.ficha-tecnica .ficha-tecnica-card .ficha-tecnica-itens {
    color: var(--text-white);
    font-size: 20px;
    padding: 5px;
    padding-left: 15px;
    margin-top: 2px;
}

ul li .etec,
ul li .stackx {
    color: var(--color-orange-ligth);
    border: none;
    font-size: 23px;
}

.img-ficha-tecnica img {
    width: 350px;
    margin-top: -30px;
}

.caricatura {
    margin-left: 50px;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    from,
    to {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

.foto-mensagem {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.foto-mensagem img {
    width: 330px;
    margin-left: 50px;
    border-radius: 20px;
    border: 5px solid var(--color-orange-ligth);
}

.foto-mensagem .comentarios {
    width: 620px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.foto-mensagem .comentarios h3 {
    color: var(--text-white);
    width: 570px;
    font-size: 23px;
    font-weight: 100;
    text-align: start;
    letter-spacing: 1px;
    margin-top: 10px;
}

.foto-mensagem .comentarios h3>.personalizado {
    color: var(--color-orange-ligth);
    font-style: italic;
    font-size: 25px;
    text-transform: uppercase;
}


/*Fim sobre*/


/*Inicio habilidades*/

.habilidades {
    background-image: var(--bg-gradient-habilidaes);
    width: 100%;
    height: 1080px;
    margin-top: 0px;
    border: 2px solid var(--transparent-strokes);
    overflow: hidden;
}

.habilidades .circulo {
    width: 1px;
    height: 1px;
}

.habilidades .circulo-p1 {
    margin-left: 120px;
    margin-top: 200px;
    width: 200px;
}

.habilidades .circulo-p2 {
    margin-left: -100px;
    margin-top: -200px;
    width: 420px;
}

.inicio-apresentacao-habilidades {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.inicio-apresentacao-habilidades>h3 {
    color: var(--text-white);
    font-weight: 100;
    font-size: 24px;
}

.cards-habilidades {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    align-self: center;
    height: 500px;
    margin-top: 20px;
    gap: 45px;
}

.cards-itens {
    position: relative;
    color: var(--text-white);
    height: 360px;
    width: 290px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 1.5px solid rgba(255, 255, 255, 0.22);
    box-shadow: rgb(0 0 0 / 50%) 0px 2px 5px;
    backdrop-filter: blur(15px);
}

.cards-itens:nth-child(2) {
    height: 390px;
    width: 300px;
}

.cards-itens:nth-child(2)>span {
    margin-left: 10px;
}

.cards-itens .svg-habilidades:nth-child(2) {
    margin-top: 65px;
}

.cards-itens .svg-habilidades {
    width: 150px;
    margin-top: 55px;
}

.cards-itens .svg-habilidades,
.cards-itens>h3 {
    width: 150px;
    margin-bottom: 8px;
    text-align: center;
    font-size: 23px;
    transform: translateY(50px);
    transition: 0.8s cubic-bezier(1, 0.92, 0.65, 1);
    letter-spacing: 2px;
}

.cards-itens:hover .svg-habilidades,
.cards-itens:hover h3 {
    width: 100px;
    font-size: 19px;
    transform: translateY(0px);
    transition: 0.5s ease-in;
    letter-spacing: 3px;
}

.cards-itens>span {
    font-size: 1.1em;
    opacity: 0;
    padding: 25px;
    transform: translateY(100px);
    transition: 0.5s ease-in;
    pointer-events: none;
    margin-bottom: 8px;
}

.cards-itens:hover>span {
    opacity: 1;
    transform: translateY(0px);
    transition: 0.5s ease-in;
    margin-top: -15px;
}

.mais-tecnologias {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 700px;
    border-left: 0.5px solid rgba(136, 136, 136, 0.419);
    border-bottom: 0.5px solid rgba(136, 136, 136, 0.419);
    box-shadow: 6px 6px 8px 1px rgba(0, 0, 0, 0.453);
    border-radius: 20px;
    margin-top: 30px;
}

.mais-tecnologias>h3 {
    color: var(--text-white);
    text-align: center;
    font-size: 25px;
    font-weight: 100;
    margin-top: 25px;
    margin-bottom: 35px;
}

.table-icons {
    border-spacing: 15px;
    padding: 1px;
}

.table-finished {
    margin-bottom: 15px;
}

.table-icons tr {
    display: flex;
    gap: 15px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.table-icons td {
    width: 80px;
    height: 80px;
    background-color: var(--text-white);
    border-radius: 10px;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.659);
    transition: .8s ease all;
    cursor: pointer;
}

.table-icons td:hover {
    transform: scale(1.2);
}

.table-icons img {
    margin-left: 4px;
    margin-top: 5px;
    width: 70px;
    cursor: pointer;
    transition: .5s ease all;
}

.table-icons span {
    font-size: 17px;
    display: flex;
    justify-content: center;
    width: 80px;
    color: var(--bg-mainDark);
    position: absolute;
    margin-top: 43%;
    transition: .8s ease all;
    opacity: 0;
    font-weight: 700;
    cursor: pointer;
}

.table-icons td:hover img.imgIcons {
    opacity: 0;
}

.table-icons td:hover span.text {
    opacity: 1;
}


/*Fim habilidades*/


/*Inicio portifolio*/

.portifolio {
    width: 100%;
    height: 1000px;
    overflow: hidden;
}

.inicio-portifolio {
    width: 100%;
    height: 880px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inicio-portifolio .title2 {
    margin-top: 35px;
}

.portifolio .bola {
    margin-top: 100px;
    margin-left: -1200px;
}

.portifolio .bola img {
    width: 250px;
}

.portifolio .bola2 {
    margin-top: 30px;
    margin-left: 1000px;
}

.card-principal-portifolio {
    width: 80%;
    height: 550px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: absolute;
    margin-top: 220px;
    border-radius: 20px;
}


/*Fim portifolio*/


/*Inicio contato*/


/*Fim contato*/