/*Configuraçoes gerais*/


/* Tipografia */

@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans:ital@0;1&display=swap');

/* Variáveis */

 :root {
    /* Cores */
    --bg-glassEfect: linear-gradient( 106.51deg, rgba(255, 255, 255, 0.03) 3.44%, rgba(255, 255, 255, 0.012) 64.82%);
    --containerBackgroundGradient: linear-gradient(to right, #362792, #8E0265);
    --bg-gradient-habilidades: linear-gradient(310deg, #d17614, #a7345c, #680630);
    --bg-gradient-scroll: linear-gradient(310deg, #df7d15, #a7345c, #680630);
    --bg-gradient-scroll-hover: linear-gradient(310deg, #fdac54, #e95589, #ca1664);
    --gradient-front-container: linear-gradient(135deg, black, rgb(19, 19, 19)30%, rgb(112, 112, 112));
    --bg-mainDark: #12141A;
    --color-orange-ligth: #ef7739;
    --color-buttons-ligth: #08fffb;
    --color-purple-ligth: #e1336b;
    --transparent-strokes: rgba(255, 255, 255, 0.1);
    --text-white: #fff;
    --color-blue-dark: #0a81cc;
}


/* Reset CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Ropa Sans', sans-serif;
    cursor: context-menu;
}

.center {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 3%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}


/**/

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}


/* width */

::-webkit-scrollbar {
    width: 12px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: rgba(216, 216, 216, 0.5);
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: var(--bg-gradient-scroll);
    border-radius: 12px;
    transition: .6s ease all;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--bg-gradient-scroll-hover);
}

::-moz-selection {
    background-color: var(--color-purple-ligth);
}

::selection {
    background-color: var(--color-purple-ligth);
}


/* Scroll top */

.scrollTop {
    outline: none;
    border: 0;
    background-color: var(--text-white);
    height: 40px;
    width: 40px;
    padding: 8px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 30px;
    bottom: 30px;
    box-shadow: 0 1px 6px 2px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease;
}

.scrollTop.active {
    opacity: 1;
    visibility: visible;
}

.scrollTop .fa-circle-up {
    font-size: 30px;
    color: var(--color-purple-ligth);
    cursor: pointer;
}

body {
    background-color: var(--bg-mainDark);
    max-width: 1400px;
}

.glass-effect {
    background: var(--bg-glassEfect);
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(25px);
}

.parallax {
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background-attachment: fixed;
}


/*****************************************************************************************/


/*Fim contato*/


/*Inicio Footer*/

footer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-gradient-habilidades);
}

.container-footer {
    text-align: center;
}

.container-footer p {
    color: var(--text-white);
    font-size: 19px;
    font-weight: 100;
    letter-spacing: 1px;
}


/*Fim Footer*/